<!DOCTYPE html>
<html lang="en" id="demo">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <meta name="description" content="Verandahighered Beta ERP Design" />
    <meta name="author" content="Verandahighered Beta ERP Design" />
    <meta name="keywords" content="Verandahighered Beta ERP Design" />

    <!-- Favicon -->
    <link
      rel="icon"
      href="/agents/assets/img/brand/favicon.ico"
      type="image/x-icon"
    />

    <!-- Title -->
    <title>Verandahighered Beta ERP Design</title>

    <!-- Bootstrap css-->
    <link
      id="style"
      href="/agents/assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Icons css-->
    <link href="/agents/assets/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link
      href="/agents/assets/plugins/web-fonts/font-awesome/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="/agents/assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Style css-->
    <link href="/agents/assets/css/style.css" rel="stylesheet" />

    <!-- INTERNAL COLOR PICKER css-->
    <link
      href="/agents/assets/plugins/pickr-master/themes/classic.min.css"
      rel="stylesheet"
    />
    <link
      href="/agents/assets/plugins/pickr-master/themes/monolith.min.css"
      rel="stylesheet"
    />
    <link
      href="/agents/assets/plugins/pickr-master/themes/nano.min.css"
      rel="stylesheet"
    />

    <!-- Select2 css -->
    <link
      href="/agents/assets/plugins/select2/css/select2.min.css"
      rel="stylesheet"
    />

    <!--Bootstrap-datepicker css-->
    <link
      rel="stylesheet"
      href="/agents/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css"
    />

    <!-- Internal Datetimepicker-slider css -->
    <link
      href="/agents/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css"
      rel="stylesheet"
    />

    <!-- Internal Specturm-color picker css-->
    <link
      href="/agents/assets/plugins/spectrum-colorpicker/spectrum.css"
      rel="stylesheet"
    />

    <!-- Internal Ion.rangeslider css-->
    <link
      href="/agents/assets/plugins/ion-rangeslider/css/ion.rangeSlider.css"
      rel="stylesheet"
    />
    <link
      href="/agents/assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css"
      rel="stylesheet"
    />
  </head>

  <body class="ltr main-body leftmenu agent_admin">
    <!-- Loader -->
    <div id="global-loader">
      <img
        src="/agents/assets/img/loader.svg"
        class="loader-img"
        alt="Loader"
      />
    </div>
    <!-- End Loader -->

    <!-- Page -->
    <div class="page">
      <!-- Main Header-->
      <%- include('includes/agent-header') %>
      <!-- End Main Header-->

      <!-- Main Content-->
      <div class="main-content side-content pt-0">
        <div class="main-container container-fluid">
          <div class="inner-body">
            <!-- Page Header -->
            <div class="page-header">
              <div>
                <h2 class="main-content-title tx-24 mg-b-5">Campaign List</h2>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Campaign List
                  </li>
                </ol>
              </div>
              <div class="col-sm-6">
                <div class="justify-content-center">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mg-b-30">
                        <div class="input-group">
                          <div class="input-group-text border-end-0">
                            <i class="fe fe-calendar lh--9 op-6"></i>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Date Range"
                            type="text"
                            id="datepicker-date"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mg-b-30">
                        <div class="input-group">
                          <div class="input-group-text border-end-0">
                            <i class="fe fe-calendar lh--9 op-6"></i>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Month Range"
                            type="text"
                            id="datepicker-month"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mg-b-30">
                        <div class="input-group">
                          <div class="input-group-text border-end-0">
                            <i class="fe fe-calendar lh--9 op-6"></i>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Year Range"
                            type="text"
                            id="datepicker-year"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Page Header -->

            <!--Row-->
            <div class="row row-sm">
              <div class="col-sm-12 col-lg-12 col-xl-12">
                <!--row-->
                <div class="row row-sm">
                  <div class="col-lg-12">
                    <div class="card custom-card mg-b-20">
                      <div class="card-body">
                        <div
                          class="card-header border-bottom-0 pt-0 ps-0 pe-0 d-flex"
                        >
                          <div>
                            <label class="main-content-label mb-2"
                              >CAMPAIGN History</label
                            >
                            <span class="d-block tx-12 mb-3 text-muted"
                              >A task is accomplished by a set deadline, and
                              must contribute toward work-related
                              objectives.</span
                            >
                          </div>
                          <div class="ms-auto">
                            <a
                              href="javascript:void(0)"
                              class="option-dots"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                              ><i class="fe fe-more-vertical"></i
                            ></a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0)"
                                >Task</a
                              >
                              <a class="dropdown-item" href="javascript:void(0)"
                                >Team</a
                              >
                              <a class="dropdown-item" href="javascript:void(0)"
                                >Status</a
                              >
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="javascript:void(0)"
                                ><i class="fa fa-cog me-2"></i> Settings</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive tasks">
                          <table
                            class="table card-table table-vcenter text-nowrap mb-0 border"
                          >
                            <thead>
                              <tr>
                                <th>Sno</th>
                                <th class="wd-lg-10p">Created By</th>
                                <th class="wd-lg-10p">Created Date</th>
                                <th class="wd-lg-20p">Campaign</th>
                                <th class="wd-lg-20p">CAMPAIGN Team</th>
                                <th class="wd-lg-10p">Disposition</th>
                                <th class="wd-lg-20p text-center">Count</th>
                                <th class="wd-lg-20p">CAMPAIGN Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% data.forEach((item, index) => { %>
                              <tr>
                                <td><%= index + 1 %></td>
                                <td><%= item.createdBy %></td>
                                <td>
                                  <%= item.createdAt.toLocaleDateString() %>
                                </td>
                                <td><%= item.campaign_name %></td>
                                <td><%= item.campaignTeam %></td>
                                <td><%= item.campaign_product %></td>
                                <td class="text-center"><%= item.count %></td>
                                <td>
                                  <%= item.campaignStatus ? 'Active' :
                                  'Inactive' %>
                                </td>
                              </tr>
                              <% }); %>

                              <!-- <tr>
                                <td>1</td>
                                <td>Admin</td>
                                <td>2023-05-31</td>
                                <td class="font-weight-semibold d-flex">
                                  <span class="mt-1">Edu- All -LPU</span>
                                </td>

                                <td class="text-nowrap">
                                  <div
                                    class="demo-avatar-group my-auto float-start"
                                  >
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/1.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets/img/users/2.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets/img/users/3.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets/img/users/4.jpg"
                                      />
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <span class="badge bg-pill bg-primary-light"
                                    >Followup</span
                                  >
                                </td>
                                <td class="text-center">
                                  <a href="followup-listing.html">37</a>
                                </td>
                                <td class="text-primary">Active</td>
                              </tr> -->
                              <!-- <tr>
                                <td>2</td>
                                <td>Admin</td>
                                <td>2023-05-31</td>
                                <td class="font-weight-semibold d-flex">
                                  <span class="mt-1">Edu- All -LPU</span>
                                </td>
                                <td class="text-nowrap">
                                  <div
                                    class="demo-avatar-group my-auto float-start"
                                  >
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/5.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/6.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/7.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/8.jpg"
                                      />
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <span class="badge bg-pill bg-warning-light"
                                    >Call Back</span
                                  >
                                </td>
                                <td class="text-center">
                                  <a href="followup-listing.html">30</a>
                                </td>
                                <td class="text-secondary">Non-Active</td>
                              </tr> -->
                              <!-- <tr>
                                <td>3</td>
                                <td>Admin</td>
                                <td>2023-05-31</td>
                                <td class="font-weight-semibold d-flex">
                                  <span class="mt-1">Edu- All -LPU</span>
                                </td>
                                <td class="text-nowrap">
                                  <div
                                    class="demo-avatar-group my-auto float-start"
                                  >
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets/img/users/11.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets/img/users/12.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/9.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/10.jpg"
                                      />
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <span class="badge bg-pill bg-primary-light"
                                    >Not Interested</span
                                  >
                                </td>
                                <td class="text-center">
                                  <a href="followup-listing.html">20</a>
                                </td>
                                <td class="text-warning">Hold</td>
                              </tr> -->
                              <!-- <tr>
                                <td>4</td>
                                <td>Admin</td>
                                <td>2023-05-31</td>
                                <td class="font-weight-semibold d-flex">
                                  <span class="mt-1">Edu- All -LPU</span>
                                </td>
                                <td class="text-nowrap">
                                  <div
                                    class="demo-avatar-group my-auto float-start"
                                  >
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/7.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/9.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/11.jpg"
                                      />
                                    </div>
                                    <div class="main-img-user avatar-sm">
                                      <img
                                        alt="avatar"
                                        class="rounded-circle"
                                        src="/agents/assets///img/users/12.jpg"
                                      />
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <span class="badge bg-pill bg-danger-light"
                                    >Missed Call
                                  </span>
                                </td>
                                <td class="text-center">
                                  <a href="followup-listing.html">40</a>
                                </td>
                                <td class="text-primary">Active</td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col end -->
                </div>
                <!-- Row end -->
              </div>
              <!-- col end -->
            </div>
            <!-- Row end -->
          </div>
        </div>
      </div>
      <!-- End Main Content-->

      <!-- Main Footer-->
      <div class="main-footer text-center">
        <div class="container">
          <div class="row row-sm">
            <div class="col-md-12">
              <span
                >Copyright © 2023
                <a href="javascript:void(0)">Verandahighered</a>.
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--End Footer-->

      <!-- Sidebar -->
      <div class="sidebar sidebar-right sidebar-animate">
        <div class="sidebar-icon">
          <a
            href="javascript:void(0)"
            class="text-end float-end text-dark fs-20"
            data-bs-toggle="sidebar-right"
            data-bs-target=".sidebar-right"
            ><i class="fe fe-x"></i
          ></a>
        </div>
        <div class="sidebar-body">
          <h5>Todo</h5>
          <div class="d-flex p-3">
            <label class="ckbox"
              ><input checked type="checkbox" /><span
                >Hangout With friends</span
              ></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input type="checkbox" /><span
                >Prepare for presentation</span
              ></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input type="checkbox" /><span
                >Prepare for presentation</span
              ></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input checked type="checkbox" /><span
                >System Updated</span
              ></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input type="checkbox" /><span>Do something more</span></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input type="checkbox" /><span>System Updated</span></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top">
            <label class="ckbox"
              ><input type="checkbox" /><span>Find an Idea</span></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <div class="d-flex p-3 border-top mb-0">
            <label class="ckbox"
              ><input type="checkbox" /><span>Project review</span></label
            >
            <span class="ms-auto">
              <i
                class="fe fe-edit-2 text-primary me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Edit"
              ></i>
              <i
                class="fe fe-trash-2 text-danger me-2"
                data-bs-toggle="tooltip"
                title=""
                data-bs-placement="top"
                data-bs-original-title="Delete"
              ></i>
            </span>
          </div>
          <h5>Overview</h5>
          <div class="p-4">
            <div class="main-traffic-detail-item">
              <div><span>Founder &amp; CEO</span> <span>24</span></div>
              <div class="progress">
                <div
                  aria-valuemax="100"
                  aria-valuemin="0"
                  aria-valuenow="20"
                  class="progress-bar progress-bar-xs wd-20p"
                  role="progressbar"
                ></div>
              </div>
              <!-- progress -->
            </div>
            <div class="main-traffic-detail-item">
              <div><span>UX Designer</span> <span>1</span></div>
              <div class="progress">
                <div
                  aria-valuemax="100"
                  aria-valuemin="0"
                  aria-valuenow="15"
                  class="progress-bar progress-bar-xs bg-secondary wd-15p"
                  role="progressbar"
                ></div>
              </div>
              <!-- progress -->
            </div>
            <div class="main-traffic-detail-item">
              <div><span>Recruitment</span> <span>87</span></div>
              <div class="progress">
                <div
                  aria-valuemax="100"
                  aria-valuemin="0"
                  aria-valuenow="45"
                  class="progress-bar progress-bar-xs bg-success wd-45p"
                  role="progressbar"
                ></div>
              </div>
              <!-- progress -->
            </div>
            <div class="main-traffic-detail-item">
              <div><span>Software Engineer</span> <span>32</span></div>
              <div class="progress">
                <div
                  aria-valuemax="100"
                  aria-valuemin="0"
                  aria-valuenow="25"
                  class="progress-bar progress-bar-xs bg-info wd-25p"
                  role="progressbar"
                ></div>
              </div>
              <!-- progress -->
            </div>
            <div class="main-traffic-detail-item">
              <div><span>Project Manager</span> <span>32</span></div>
              <div class="progress">
                <div
                  aria-valuemax="100"
                  aria-valuemin="0"
                  aria-valuenow="25"
                  class="progress-bar progress-bar-xs bg-danger wd-25p"
                  role="progressbar"
                ></div>
              </div>
              <!-- progress -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>
    <!-- End Page -->
    <div class="sticky_footer">
      <ul>
        <li>Login Time : 01:00:44</li>
        <li>Ext No. : 3343</li>
        <li>Wrapup Time : 00:06:55</li>
        <li>Break Time :00:00:00</li>
        <li>Talk Time : 00:00:00</li>
        <li>Terminal : 103.177.174.148</li>
      </ul>
    </div>

    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

    <!-- Jquery js-->
    <script src="/agents/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/agents/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/agents/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Internal Jquery-Ui js-->
    <script src="/agents/assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- Internal Jquery.maskedinput js-->
    <script src="/agents/assets/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>

    <!-- Internal Specturm-colorpicker js-->
    <script src="/agents/assets/plugins/spectrum-colorpicker/spectrum.js"></script>

    <!-- Internal Ion-rangeslider js-->
    <script src="/agents/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

    <!-- Select2 js-->
    <script src="/agents/assets/plugins/select2/js/select2.min.js"></script>
    <script src="/agents/assets/js/select2.js"></script>

    <!-- Internal Form-elements js-->
    <script src="/agents/assets/js/form-elements.js"></script>

    <!-- Perfect-scrollbar js -->
    <script src="/agents/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Sidemenu js -->
    <script
      src="/agents/assets/plugins/sidemenu/sidemenu.js"
      id="leftmenu"
    ></script>

    <!--Bootstrap-datepicker js-->
    <script src="/agents/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- Internal jquery-simple-datetimepicker js -->
    <script src="/agents/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- COLOR PICKER JS -->
    <script src="/agents/assets/plugins/pickr-master/pickr.es5.min.js"></script>
    <script src="/agents/assets/js/picker.js"></script>

    <!-- Sidebar js -->
    <script src="/agents/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Color Theme js -->
    <script src="/agents/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="/agents/assets/js/sticky.js"></script>

    <!-- Custom js -->
    <script src="/agents/assets/js/custom.js"></script>
  </body>
</html>
